@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

body {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#restart {
    width: 50px;
    margin-bottom: 20px;

}

#computer {
    visibility: visible;
}

#player {
    visibility: hidden;
}

#scoreBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 10px;
    top: 30%;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 25px;
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bungee Outline', cursive;
}

h1 {
    color: white;
    font-size: 50px;
    background-color: black;
}

.container {

    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
}

.container-rows {
    display: flex;
    flex-grow: 1;
}

.btn {
    height: 166px;
    width: 166px;
    background-color: white;
}

.X_CLASS {
    color: rgba(226, 98, 98, 0.7);
    transition-duration: 0.5s;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
}

.O_CLASS {
    color: rgba(87, 74, 207, 0.7);
    transition-duration: 0.5s;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
}

#btn1,#btn2,#btn3 {
    border-top: none;
}

#btn1,#btn4,#btn7 {
    border-left: none;
}

#btn3,#btn6,#btn9 {
    border-right: none;
}

#btn7,#btn8,#btn9 {
    border-bottom: none;
}

footer {
    background: black;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    background: white;
    font-size: 15px;
}


